.imgFor-wrapper {
  margin-top: 53px;
  height: 50vh;
  width: 100vw;
  background-color: #0c0d51;
  color: white;
}
.imageFor-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imageFor-wrapper img {
  padding-top: 30px;
  height: 300px;
  width: auto;
}
.linkFor-wrapper {
  display: block;
  margin: auto auto;
  text-align: center;
  padding-left: 600px;
}
